[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = documentation
[access "refs/*"]
	owner = group user/karimLG
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/karimLG
	label-Verified = -1..+1 group user/karimLG
	push = group user/karimLG
	read = group user/karimLG
	rebase = group user/karimLG
	removeReviewer = group user/karimLG
	submit = group user/karimLG
[access "refs/heads/*"]
	create = group user/karimLG
	push = +force group user/karimLG
	pushMerge = group user/karimLG
	read = group user/karimLG
[access "refs/tags/*"]
	push = group user/karimLG
	push = +force group user/karimLG
